	#footer_b{
				height:130px;
				width: 1180px;
				margin: 0 auto;
				background: #f9f9f9;
				overflow: hidden;
			}
			
			#footer_b_wrap{
				background: #f9f9f9;
			}
			
			
			
			
			#footer_b_kuang{
				height: 70px;
				width:1178px;
				border:1px solid #999 ;
				background: #fff;
				display: flex;
				justify-content: space-between;
				margin-top: 35px;
			}
			
			
			#footer_b>#footer_b_kuang>p:nth-child(1){
				height: 70px;
				width:90px;
				line-height: 30px;
				text-align: center;
				font-size:12px;
				color: #000000;
			}
			#footer_b>#footer_b_kuang>ul{
				height: 130px;
				width:980px;
				margin-right: 60px;
				text-align: center;
				overflow: hidden;
			}
			#footer_b>#footer_b_kuang>ul>li{
				float: left;
				height: 20px;
				width:120px;
				
			}
			#footer_b>#footer_b_kuang>ul>li>a{
				display: block;
				float: left;
				font-size:12px;
				text-align: left;
				margin-top: 15px;
				
			}
			#footer_b>#footer_b_kuang>ul>li>a:hover{
				border-bottom: 1px solid #999;
			}
