
header{
    z-index: 30;opacity: .8;width:100%;background:#f9f9f9;
}
.h_list{
    height:64px;display: flex;align-items: center;width:1180px;margin:0 auto;justify-content: space-between
}
.h_l{
    display: flex;width:598px;justify-content: space-around;
}
.h_list p img{
    margin-top: 8px;
}
header a{
    color: black;
    font-size: 16px;

}
header a:hover{
    color: green;
}
header li{
    margin-top: 5px;
}
.h_list>div{
    display: flex;height:64px;align-items: center
}
.h_list>div span{
    padding:0 5px;
}
